*.d
*.o
bin/flex/.bootstrap
bin/flex/config.cache
bin/flex/config.log
bin/flex/flex
bin/flex/libfl.a
bin/flex/parse.c
bin/flex/parse.h
bin/flex/scan.c
lib/libc/obj/
lib/libexos/os/kerncallstr.c
lib/libgcc/libgcc.a
sys/conf/obj/
sys/kern/batch.c
sys/kern/kerncallstr.c
sys/xok/sys_proto.h
sys/xok/sys_syms.h
sys/xok/sys_ubatch.h
sys/xok/sys_ucall.h
sys/xok/syscallno.h
tools/bintoc/bintoc
tools/mkspec/mkspec
tools/rconsole/rconsole
tools/senddocs/senddocs
tools/setmagic/setmagic
tools/vm-layout/vm-layout
bin/shlib/libexos.so
bin/shlib/libexos.so_stub.s
include/exos/site-conf.h
lib/alfs/libalfs.a
lib/alfs/libalfsemb.a
lib/alfs/libalfssep.a
